@import '../../Sass/Colors.scss';

.customer_table {
    background: $white-color;
    padding: 10px 0;

    table {
        thead {
            background: $blue-color;
            color: $white-color;
        }
    }
}