@import '../../Sass/Colors.scss';

.customer_table {
    table {
        background: $white-color;
        padding: 10px 0;

        thead {
            background: $gray-color;
            color: $white-color;

            th {
                padding: 7px 25px;
            }
        }

        tbody {
            td {
                padding: 7px 25px;
            }
        }
    }
}