@import '../../Sass/Colors.scss'; 

.order_data_chart {
    padding: 20px;
    border-radius: 20px;
    background: $white-color;
    overflow:auto ;

    .order_chart_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        p {
            color: $gray-color;
            margin-bottom: 5px;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
        }

        .select_date {
            width: 150px;
        }
    }
}

.categories_area  {
    padding: 20px;
    border-radius: 20px;
    background: $white-color;
    text-align: center;
}