@import '../../Sass/Colors.scss';

.product_table {
    padding: 20px;
    background: $white-color;
    border-radius: 8px;
    margin-bottom: 20px;
    
    .product_img {
        max-width: 25px;
    }
}