@import '../../Sass/Colors.scss';

.product_card {
    padding: 20px;
    background: $white-color;
    border-radius: 8px;
    margin-bottom: 20px;
    
    .product_img {
        img {
            max-width: 100%;
        }
    }
}