@import '../../Sass/Colors.scss';

.chart_area {
    .recharts-default-tooltip {
        color: $white-color;
        border-radius: 10px;
        padding: 7px !important;
        background-color: $navy-color !important;
        border: 0px !important;
    }

    .recharts-cartesian-axis-line,
    .recharts-cartesian-axis-tick-line {
        display: none;
    }

    .recharts-dot {
        fill: $white-color;
        stroke: $blue-color;
    }
}