@import '../../Sass/Colors.scss';

.sidebar_area {
    position: fixed;
    width: 280px;
    left: 0;
    height: 100vh;
    background: $white-color;
    transition: .5s all ease-in-out;
    z-index: 999999;

    &.close {
        left: -285px;
    }

    .sidebar_logo {
        padding: 20px 30px;
        position: relative;

        .close_icon {
            position: absolute;
            top: 35%;
            right: -10px;
            background: $white-color;
            box-shadow: 0 3px 5px 0px $gray-color;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 30px;
            cursor: pointer;
            display: none;
        }
    }

    .sidebar_menu {
        padding: 15px 20px;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                position: relative;

                a {
                    display: block;
                    padding: 12px 10px 10px;
                    color: #2c323f; 
                    text-decoration: none;
                    border-radius: 8px;
                    transition: .3s;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 1px;

                    svg {
                        margin-right: 10px;
                        width: 20px;
                        top: -3px;
                        position: relative;
                    }

                    &:hover {
                        background: rgb(245, 245, 255);
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .sidebar_area {
        display: none;

        &.close {
            left: 0;
            display: block;
        }

        .sidebar_logo {
            .close_icon {
                display: block;
            }
        }
    }
}
