@import '../../Sass/Colors.scss';


.top_product{
    padding: 20px;
    border-radius: 10px;
    background: $white-color;
    overflow:auto;

    h4 {
        color: $navy-color;
        margin-bottom: 25px;
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 500;
    }

    table {
        thead {
            background-color: #f4f6fd;
        }
    }
    
    tr {
        border-color: #f3efef;
    }
}